version: "3.8"

services:
  web:
    build: .
    command: python /usr/src/insure_bro/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/insure_bro/
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db
      - elasticsearch
      - rabbitmq
  db:
    image: postgres:14.0
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=insure_bro
      - POSTGRES_PASSWORD=insure
      - POSTGRES_DB=insure_db
    ports:
      - "5432:5432"
  elasticsearch:
    image: elasticsearch:7.14.0
    environment:
      - discovery.type=single-node
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - es_data:/usr/share/es/data
  rabbitmq:
    container_name: "rabbit_mq"
    image: rabbitmq:3.5-management
    env_file:
      - ./.env
    ports:
      - "5672:5672"
      - "15672:15672"
  celery:
    build: .
    command: celery -A insure_bro worker -l info --logfile=logs/celery.log
    container_name: celery_worker
    volumes:
      - .:/usr/src/insure_bro/
    env_file:
      - ./.env
    depends_on:
      - rabbitmq
  celery-beat:
    build: .
    command: celery -A insure_bro beat -l info
    volumes:
      - .:/usr/src/insure_bro/
    env_file:
      - ./.env
    depends_on:
      - rabbitmq
volumes:
  postgres_data:
  es_data:
  celery_worker:
  celery_beat:
  rabbitmq: