version: "3.8"

services:
  web:
    build: .
    command: python /usr/src/insure_bro/manage.py runserver 0.0.0.0:8000 && python /usr/src/insure_bro/manage.py makemigrations && python /usr/src/insure_bro/manage.py migration
    volumes:
      - .:/usr/src/insure_bro/
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db
  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=insure_bro_db
      - POSTGRES_PASSWORD=insure_bro
      - POSTGRES_DB=insure_bro_django_dev
volumes:
  postgres_data: