body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav.navbar {
    background-color: #eedeff;
}

a, a.nav-link {
    color: #d953ee;
    text-decoration: none;
}

a:hover, a.nav-link:hover {
    color: #acacb6;
}

a {
    padding: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 0;
    font-size: 14px;
}

.block {
    display: block;
    border-radius: 5px;
}

.block_form{
    width: 500px;
    padding: 15px;
    margin-top: 1%;
}

.block_card {
    display: flex;
    flex-direction: column;
    min-height: 750px;
    min-width: 700px;
    margin: 15px;
    background-color: aliceblue;

}

ul {
    list-style: None;
}

.card {
    margin: 20px;
    padding: 15px;
    max-width: 600px;
    min-width: 550px;
    justify-content: center;
    background-color: #eedeff;
}

.create_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.form, .form-group {
    margin: 15px;
}

button.btn-outline-secondary {
    position: relative;
    left: 15px;
}

.form-filter {
    background-color: #eedeff;
    min-width: 350px;
    padding: 15px;
    margin: 20px;
}

h1, h2, h3, h5, h6 {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.res_activ {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.block_products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.page-item.active .page-link{
    background-color: #eedeff;
    border-color: #ead7fd;
    color: #bacbe6;
}

a.page-link {
    color: #1a1e21;
}

a.page-link:focus {
    border-color: #be8cee;
}

ul.pagination {
    justify-content: center;
}

.arrow-1 {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
}

.arrow-1 div {
    position: relative;
    top: 20px;
    width: 90px;
    height: 10px;
    background-color: #337AB7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.arrow-1 div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: #216ca4;
    transform: rotate(45deg);
}
.arrow-1 div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: #216ca4;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.arrow-1 {
    animation: arrow-1 1s linear infinite;
}
@keyframes arrow-1 {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}
