body{
    margin: 0;
    padding: 0;
    background-color: wheat;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 0;
    font-size: 14px;
}

.block {
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 5px;
}

.block_form{
    width: 500px;
    padding: 15px;
    margin-top: 1%;
    background-color: aliceblue;
}

.block_card{
    flex-direction: column;
    min-height: 750px;
    min-width: 700px;
    margin: 15px;
    background-color: aliceblue;
    list-style: None;
}

.card{
    margin: 20px;
    padding: 15px;
    max-width: 600px;
    justify-content: center;
}


.form, .form-group{
    margin: 15px;
}

button.btn-primary{
    position: relative;
    left: 15px;
}

h1, h2, h3 {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.res_activ{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrow-1 {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
}
.arrow-1 div {
    position: relative;
    top: 20px;
    width: 90px;
    height: 10px;
    background-color: #337AB7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.arrow-1 div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: #216ca4;
    transform: rotate(45deg);
}
.arrow-1 div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: #216ca4;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.arrow-1 {
    animation: arrow-1 1s linear infinite;
}
@keyframes arrow-1 {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}
