{% extends 'base.html' %}
{% load pluralize %}
{% load bootstrap4 %}
{% block title %}Страховые предложения{% endblock %}
{% block content %}
    <h2>Активные предложения</h2>
		<ul class="block block_card">
			{% for product in products %}
				<li >
					<div class="block card">
						<h2>Категория: {{ product.product.category|lower }}</h2>
						<p>{{ product.product.name }}</p>
						<div>
							Страховой период: {{ product.product.period }} дней.
							Процентная ставка: {{ product.product.interest_rate }} %.
						</div>
						<div>
							Стоимость: {{ product.product.price }} руб.

						</div>
						<div>
							Просмотры: {{ product.views }} просмотр{{ product.views|pluralize_views }} .
						</div>
						<div>
							Отклики: {{ product.response }} отклик{{ product.response|pluralize_views }} .
						</div>
						<div>
							<button class="btn btn-outline-secondary btn-sm mt-2" type="button"
									onclick="window.location='{% url "cabinet:delete_product"  product.product.id%}'">
								Удалить предложение
							</button>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% bootstrap_pagination page_obj %}
    {% include 'cabinet/off_canvas.html' %}
{% endblock %}