{% extends 'base.html' %}
{% load bootstrap4 %}
{% load pluralize %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Страховые предложения{% endif %}
{% endblock %}
{% block content %}
    <ul class=" nav nav-tabs navbar-expand-lg">
        <li class="nav-item justify-content-center">
            <a {% if not category %}class="nav-link active lh-sm" {% else %} class="nav-link"{% endif %}
               href="{% url "cabinet:responses_list" %}">Все предложения</a>
        </li>
        {% for c in categories %}
            <li class="nav-item">
                <a {% if category.slug == c.slug %} class="nav-link active" {% else %} class="nav-link"{% endif %}
                                                    href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="block block_card block_products">
        <div>
            <ul>
                <li class="block card">
                    {% with products.count as total_products %}
                        <h2>Найдено {{ total_products }} предложени{{ total_products|pluralize_response }}</h2>
                    {% endwith %}
                </li>
            </ul>
            <ul>
                {% for product in products %}
                    <li>
                        <div class="block card">
                            <h2>Категория: {{ product.category|lower }}</h2>
                            <p>Предложение от компании {{ product.company.name }}</p>
                            <p>{{ product.name }}</p>
                            <div>
                                Страховой период {{ product.period }} дней.
                                Процентная ставка {{ product.interest_rate }} %.
                            </div>
                            <div>
                                Стоимость {{ product.price }} руб.
                                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample{{ product.id }}" aria-expanded="false"
                                        aria-controls="collapseExample">
                                    Купить предложение
                                </button>
                                <div class="collapse" id="collapseExample{{ product.id }}">
                                    <div class="card card-body">
                                        <div class="block block_form">
                                            <h5>Оставьте свои контакты</h5>
                                            <form action="{% url "cabinet:post_response_form" product.id %}"
                                                  method="post" class="form">
                                                {% csrf_token %}
                                                {% bootstrap_form response_form layout="inline" %}
                                                {% bootstrap_button content="Отправить" button_type="submit" button_class="btn btn-outline-secondary" size="md" %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="block form-filter">
            <form action="{% url "cabinet:filter_product" %}" method="get">
                {% csrf_token %}
                {% bootstrap_label content="Выберите подходящие параметры" %}
                {% bootstrap_field form_filter.company required=False %}
                {% bootstrap_field form_filter.category required=False %}
				{% bootstrap_field form_filter.name required=False %}
                {% bootstrap_field form_filter.min_price %}
                {% bootstrap_field form_filter.max_price %}
                {% bootstrap_field form_filter.min_interest_rate %}
                {% bootstrap_field form_filter.max_interest_rate %}
                {% bootstrap_field form_filter.period required=False %}
                <div class="inline-group">
                    {% bootstrap_button content="Применить фильтр" button_type="submit" button_class="btn btn-outline-secondary" size="sm" %}
                    <a href="{% url "cabinet:responses_list" %}">Сбросить</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
