{% extends 'base.html' %}
{% load bootstrap4 %}
{% load pluralize %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Страховые предложения{% endif %}
{% endblock %}
{% block content %}
    <ul class=" nav nav-tabs navbar-expand-lg">
        <li class="nav-item justify-content-center">
            <a {% if not category %}class="nav-link active lh-sm" {% else %} class="nav-link"{% endif %}
               href="{% url "cabinet:responses_list" %}">Все предложения</a>
        </li>
        {% for c in categories %}
            <li class="nav-item">
                <a {% if category.slug == c.slug %} class="nav-link active" {% else %} class="nav-link"{% endif %}
                                                    href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="block block_card block_products">
        <div>
            <ul>
                <li class="block card">
                        <h2>Найдено {{ products_count }} предложени{{ products_count|pluralize_response }}</h2>
                </li>
            </ul>
            <ul>
                {% for product in products %}
                    <li>
                        <div class="block card">
                            <h2>Категория: {{ product.product.category.name|lower }}</h2>
                            <p>Предложение от компании {{ product.product.company.name }}</p>
                            <p>{{ product.product.name }}</p>
                            <div>
                                Страховой период {{ product.product.period }} дней.
                                Процентная ставка {{ product.interest_rate }} %.
                            </div>
                            <div>
                                Стоимость {{ product.product.price }} руб.
                                <button class="btn btn-outline-secondary" type="button"
										onclick="window.location='{{ product.url }}'">
                                    Купить предложение
                                </button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="block form-filter">
            <form action="{% url "cabinet:filter_product" %}" method="get">
                {% bootstrap_label content="Выберите подходящие параметры" %}
                {% bootstrap_field form_filter.company required=False %}
                {% bootstrap_field form_filter.category required=False %}
				{% bootstrap_field form_filter.name required=False %}
                {% bootstrap_field form_filter.min_price %}
                {% bootstrap_field form_filter.max_price %}
                {% bootstrap_field form_filter.min_interest_rate %}
                {% bootstrap_field form_filter.max_interest_rate %}
                {% bootstrap_field form_filter.period required=False %}
				{% bootstrap_field form_filter.check_elastic %}
                <div class="inline-group">
                    {% bootstrap_button content="Применить фильтр" button_type="submit" button_class="btn btn-outline-secondary" size="sm" %}
                    <a href="{% url "cabinet:responses_list" %}">Сбросить</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
